@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Kumbh Sans', sans-serif;
}

.nav-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -42px;
  width: 0px;
  height: 4px;
  opacity: 0;
  background-color: hsl(26, 100%, 55%, 1);
}

.nav-item:hover::after {
  opacity: 1;
  width: 100%;
  transition: 300ms ease-in-out;
}

@layer components {
  .nav-item {
    @apply relative cursor-pointer text-15 text-grayish-blue-300 hover:text-dark-blue;
  }
}
